<!-- app/views/home/index.html.erb -->
<div class="container text-center mt-5">
  <h1 class="display-4">Welcome to Academy</h1>
  <p class="lead">Please sign up as an academic or a recruiter to continue</p>
  <div class="row mt-4">
    <div class="col-md-6 mb-3">
      <%= link_to 'Cadastre-se como Academico', new_user_registration_path(user: { user_type: 'academic' }), class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <div class="col-md-6 mb-3">
      <%= link_to 'Cadastre-se como Recrutador', new_user_registration_path(user: { user_type: 'recruiter' }), class: "btn btn-secondary btn-lg btn-block" %>
    </div>
  </div>
</div>
