<div class="container about-container mt-5">
  <h1 class="about-title">Sobre Nós</h1>
  <div class="about-content">
    <p>
      Bem-vindo ao nosso projeto social, uma iniciativa desenvolvida pela faculdade para conectar graduandos e recém-graduados às suas primeiras oportunidades no mercado de trabalho. Nosso objetivo é proporcionar um ambiente onde talentos emergentes possam encontrar vagas alinhadas às suas habilidades e aspirações profissionais.
    </p>
    <p>
      Este projeto é fruto de um esforço colaborativo entre alunos e professores, buscando oferecer uma plataforma acessível e eficiente para que empresas possam descobrir novos talentos, e para que os estudantes possam iniciar suas carreiras com o pé direito.
    </p>
    <p>
      Acreditamos que todos merecem uma chance justa de mostrar suas habilidades e contribuir para o mundo profissional. Estamos comprometidos em facilitar essa conexão, criando oportunidades para que jovens talentos possam brilhar.
    </p>
    <p>
      Junte-se a nós nesta jornada e descubra como você pode fazer parte desta comunidade, seja como candidato em busca de sua primeira oportunidade ou como uma empresa em busca de novos talentos.
    </p>
    <p>
      Estamos aqui para ajudar a construir o futuro, uma carreira de cada vez.
    </p>
  </div>
</div>
